@model IEnumerable<HospitalSystem.ViewModels.UsersViewModel>


@{
    ViewData["Title"] = "Home Page";
}
<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>

<div>
    <h5>WELLCOME!!!</h5>
</div>