@model IEnumerable<HospitalData.Appointment>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
           
        </tr>
    </thead>
    <tbody>
        

    </tbody>
</table